


<header>
  <a  class="logo"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614961378/cropped-logo-justcrok-500x500-1_tm9dn7.png" /></a>
  <div class="menuToggle" onclick="toggleMenu()"></div>
  <ul class="navigation">
     <li><a routerLink='/home' >    Accueil</a></li>
     <li><a routerLink='/recette' >Recettes</a></li>
    <li><a>Chat </a></li>
    <li ><a routerLink='/contact'>Nous contacter  </a></li>


    <li ><a routerLink='/login'> Login </a></li>





   </ul>
</header>


