
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<header>
  <a  class="logo"><img src="https://res.cloudinary.com/dtl8igxn0/image/upload/v1614961378/cropped-logo-justcrok-500x500-1_tm9dn7.png" /></a>
  <div class="menuToggle" onclick="toggleMenu()"></div>
  <ul class="navigation">
     <li><a routerLink='/home' >    Accueil</a></li>
     <li><a routerLink='/recette' >Recettes</a></li>
    <li><a>Cours Gratuit </a></li>
    <li ><a routerLink='/contact'>Nous contacter  </a></li>
    <li ><a > <i class="fas fa-user" style="color: #42B32F;font-size: 23px"></i> </a></li>
    <li><a><i class="fa fa-user-plus" aria-hidden="true" style="color: #42B32F;font-size: 23px"></i>
    </a></li>




   </ul>
</header>


